body {
    height: 100vh!important;
}

.content {
    width: 100%;
    height: 100%;
}

.content-body {
    padding: 3rem;
}

.w-60 {
    width: 60%!important
}

.cursor-pointer {
    transition: .3s all;
}

.cursor-pointer:hover {
    cursor: pointer;
    transform: scale(1.3);
}

@media only screen and (max-width: 768px) {
    .w-60 {
      width: 100%!important;
    }
    .content-body {
        padding: .5rem!important;
    }
  }